<ion-view view-title="Browse">
    <ion-content class="mobile-wrapper">
        <ion-slide-box on-slide-changed="slideHasChanged($index)">
            <ion-slide>
                <div class="slider-block slider-one">
                    <img src="img/slider-1.png" />
					<h2 class="slider-uptext">O guia do mercado artístico nacional </br>  agora no seu celular</h2>
                    <a ion-button class="default-btn red-btn" href="#/app/search"> Ir para o aplicativo <i class="flaticon-arrows"></i> </a>
                </div>
            </ion-slide>
            <ion-slide>
                <div class="slider-block slider-two">
                    <img src="img/slider-2.png" />
					<h2 class="slider-uptext">Consulte a última edição física do </br>  Guia Show Business</h2>
                    <a ion-button class="default-btn darkblue-btn" href="#/app/search">Ir para o aplicativo <i class="flaticon-arrows"></i> </a>
                </div>
            </ion-slide>
            <ion-slide>
                <div class="slider-block slider-three">
                    <img src="img/slider-3.png" />
					<h2 class="slider-uptext">Inscreva-se no aplicativo e crie  </br> gratuitamente uma agenda com </br> seus contatos favoritos</h2>
                    <a ion-button class="small-btn oracle-btn">Login</a>
                    <a ion-button class="small-btn oracle-btn">Inscreva-se</a>
                    <a ion-button class="default-btn oracle-btn"  href="#/app/search">Ir para o aplicativo <i class="flaticon-arrows"></i> </a>
                </div>
            </ion-slide>
        </ion-slide-box>
    </ion-content>
   
</ion-view>
